<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
  </head>
  <body>
    <div
      style="
        font-family: Helvetica, Arial, sans-serif;
        min-width: 1000px;
        overflow: auto;
        line-height: 2;
      ">
      <div style="margin: 50px auto; width: 70%; padding: 20px 0">
        <div style="border-bottom: 1px solid #eee">
          <a
            href=""
            style="
              font-size: 1.4em;
              color: #00466a;
              text-decoration: none;
              font-weight: 600;
            "
            ><%= name %></a
          >
        </div>
        <p style="font-size: 1.1em">Hi, <b><%= name %></b></p>
        <p>Thank you for creating an account with us.</p>
        <p>
          Please verify that your email address is <%= email %>, and that you
          entered it when signing up on our Football Prediction Site.
        </p>
        <h2
          style="
            background: #00466a;
            margin: 0 auto;
            width: max-content;
            padding: 0 10px;
            color: #fff;
            border-radius: 4px;
          ">
          Your OTP is: <%= userOTP %>
        </h2>
        <p style="font-size: 0.9em">Regards,<br /><%= name %></p>
        <hr style="border: none; border-top: 1px solid #eee" />
        <div
          style="
            float: right;
            padding: 8px 0;
            color: #aaa;
            font-size: 0.8em;
            line-height: 1;
            font-weight: 300;
          ">
          <p>Football Prediction</p>
          <p>We love you</p>
          <p>Nigeria</p>
        </div>
      </div>
    </div>
  </body>
</html>
